<div class="content">
          <div class="accordion_container">
            <div class="accordion_head1">First Accordian Head
              <span class="plusminus"><i class="fa fa-angle-down"></i>
              </span>
            </div>
            <div class="accordion_body1" style="display: none;">
              <p>First Accordian Body, it will have description</p>
            </div>
            <div class="accordion_head1">Second Accordian Head<span class="plusminus"><i class="fa fa-angle-down"></i>
</span></div>
            <div class="accordion_body1" style="display: none;">
              <p>Second Accordian Body, it will have description</p>
            </div>
            <div class="accordion_head1">Third Accordian Head<span class="plusminus"><i class="fa fa-angle-down"></i>
</span></div>
            <div class="accordion_body1" style="display: none;">
              <p>Third Accordian Body, it will have description</p>
            </div>
          </div>

      </div>