 <a class="active" href="/account">My Account</a>
  <a href="/account">Orders</a>
    <a href="#">Address</a>


    <a href="{{ routes.account_addresses_url }}">Account Details</a>
    <a href="#">Wishlist</a>
     <a href="/account/logout">Logout</a>