<div id="sparq-coll-search-container" {%if filter %} data-filter="{{ filter }}" {%endif%} {%if sort %} data-sort="{{ sort }}" {%endif%} {%if request.locale.iso_code %} data-lang="{{request.locale.iso_code}}" {% endif %}></div>
