<div class="page-width">
  {% if section.settings.heading != blank %}
    <div class="section-header">
      <h4 class="h2">{{ section.settings.heading }}</h4>
    </div>
  {% endif %}
<div class="video--width">
    <div class="video__sliders">
{% for block in section.blocks %} 
      <div class="video-slide">
      <div class="video-wrapper-new">
        {% if block.settings.video_url == blank %}
          <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
        {% else %}
          {% if block.settings.video_url.type == "youtube" %}
            <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
          {% endif %}
          {% if block.settings.video_url.type == "vimeo" %}
            <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?color={{ settings.color_primary | remove: "#" }}&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
          {% endif %}
        {% endif %}
      </div>
      </div>
  {% endfor %}
    </div>
</div>
</div>

<style>
 .video__sliders .slick-list {
    padding: 0 20% 0 20% !important;
}
  .video--width{
    display:block;
    max-height: 350px;
        overflow: hidden;
  }
  .video-wrapper iframe {
        min-height: 350px;
  }
  .video-wrapper {
    overflow: inherit !important;
}
  div#shopify-section-e541fb54-e9e9-4e24-b16f-9bd3c8f1b2e7{
        display: inline-block;
    width: 100%;

  }
.video-slide-left {
    z-index: 1111111;
    width: 100px;
    height: 100%;
    background: rgb(0,0,0);
  background: linear-gradient(90deg, #000c, transparent);
}
  .video-slide-left:hover, .video-slide-left:focus {
      background: linear-gradient(90deg, #000c, transparent) !important;
  }
.video-slide-left svg{
        color: #ccc;
    width: 40px;
    height: 40px;
  }
  .video-slide-right {
    z-index: 99998;
    width: 100px;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, #000c, transparent);
}
  .video-slide-right:hover, .video-slide-right:focus {
      background: linear-gradient(270deg, #000c, transparent) !important;
  }
.video-slide-right svg{
        color: #ccc;
    width: 40px;
    height: 40px;
  }
  
    @media(max-width:768px)
  {
.video-wrapper iframe {
    min-height: 250px;
}
    .video--width{
    max-height: 250px;
  }
    .video-slide-left {
    z-index: 1111111;
    width: 50px;
}
    .video-slide-left svg{
    width: 30px;
    height: 30px;
  }
    .video-slide-right {
    z-index: 1111111;
    width: 50px;
}
    .video-slide-right svg{
    width: 30px;
    height: 30px;
  }
  }
</style>

{% schema %}
{
  "name": {
    "da": "Video",
    "de": "Video",
    "en": "Video",
    "es": "Video",
    "fi": "Video",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "Video",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "Video",
    "nl": "Video",
    "pt-BR": "Vídeo",
    "pt-PT": "Vídeo",
    "sv": "Video",
    "th": "วิดีโอ",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "class": "index---section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": {
        "da": "Videolink",
        "de": "Videolink",
        "en": "Video link",
        "es": "Enlace de video",
        "fi": "Videolinkki",
        "fr": "Lien de la vidéo",
        "hi": "वीडियो लिंक",
        "it": "Link video",
        "ja": "ビデオリンク",
        "ko": "동영상 링크",
        "nb": "Videokobling",
        "nl": "Videolink",
        "pt-BR": "Link do vídeo",
        "pt-PT": "Ligação do vídeo",
        "sv": "Videolänk",
        "th": "ลิงก์วิดีโอ",
        "zh-CN": "视频链接",
        "zh-TW": "影片連結"
      },
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
      "type": "video_url",
      "id": "video_url",
      "label": {
        "da": "Videolink",
        "de": "Videolink",
        "en": "Video link",
        "es": "Enlace de video",
        "fi": "Videolinkki",
        "fr": "Lien de la vidéo",
        "hi": "वीडियो लिंक",
        "it": "Link video",
        "ja": "ビデオリンク",
        "ko": "동영상 링크",
        "nb": "Videokobling",
        "nl": "Videolink",
        "pt-BR": "Link do vídeo",
        "pt-PT": "Ligação do vídeo",
        "sv": "Videolänk",
        "th": "ลิงก์วิดีโอ",
        "zh-CN": "视频链接",
        "zh-TW": "影片連結"
      },
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Video",
        "de": "Video",
        "en": "Videos",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}
