.page-promotions {
	.page-banner--wrapper {
		position: relative;

		img {
			width: 100%;
			margin: 0 auto;

			@media screen and (max-width:1200px) {
				height: 200px;
			}

			@media screen and (max-width:991px) {
				height: 300px;
			}
		}

		.banner-content {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			color: #fff;
			text-align: center;
			width: 100%;
			margin: 0 auto;
			padding: 0 0 7px;

			@media screen and (max-width:480px) {
				padding: 0 10px;
			}
		}

		.banner-title {
			font-size: 49px;
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;

			span {
				color: #ff6600;
			}

			@media screen and (max-width:480px) {
				font-size: 30px;
			}
		}

		.banner-desc {
			font-size:19px;
			line-height: 27px;
			color: #ffffff !important;
			margin: 0;

			@media screen and (max-width:480px) {
				font-size: 16px;
			}
		}

		.banner-bottom-title {
			font-size: 30px;
			line-height: 28px;
			color: #ff6600 !important;
			text-transform: uppercase;
			letter-spacing: 0px;
			margin: 15px 0 0;

			@media screen and (max-width:480px) {
				font-size: 20px;
			}
		}
	}

	.item-atc {
		min-height: initial;
		width: 100%;
		margin-top: 20px;
		background-color: #000;
		color: #fff;
		transition: all 0.2s linear;

		&:hover {
			background-color: #ff5100;
			color: #fff !important;
		}

		@media screen and (max-width:480px) {
			bottom:1%;
		}

		@media screen and (max-width:320px) {

		}
	}

	.product-items--wrapper {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		padding: 110px 0 70px;

		@media screen and (max-width:480px) {
			padding: 40px 0;
		}

		.product-items {
			margin: 0;
		}
		.custom__item-inner {
			width: 100%;
			border: 1px solid #C4C4C4;
			margin-bottom: 20px;
		}
	}
	.product_img--wrapper {
		border-bottom: 1px solid #C4C4C4;
		padding-top: 10px;
		padding-bottom: 15px;
		text-align:center;

		img {
			height: 220px;
		}
	}

	.item_conetnt_wrapper {
		padding: 20px;

		.item_content {
			position: relative;
			height: 165px;
    	overflow: hidden;

			@media screen and (max-width: 767px) {
				height: initial;
			}
		}
		.product-title {
			margin: 0;
			line-height: 22px;
		}
	}

	.custom_mid_title {
		color: #FF6600 !important;
		font-size: 14px;
		text-transform: uppercase;
		margin: 15px 0 0;
	}
	.product-desc {
		font-size: 14px;
		margin: 10px auto 0;
	}
	.product-details {
		font-size: 14px;
		margin: 15px auto 0;

		svg{
			vertical-align: middle;
			margin-left: 5px;
		}
	}

	.bottom_text-wrapper {
		padding: 0px 15px;
		.bottom_text {
			font-size: 16px;
			margin: 0;
		}
	}
}
.page-promotions .product-items--wrapper.offer_page_block {
    padding-top: 50px;
}