{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
{% section 'blog-template' %}
  </div>
</div>
