{{ content_for_index }}


<!-- second section -->



<!--  -->





<!--------------------tabs section-------------------  -->

{%comment%}
<div class="tabs-section block">
  <div class="wrapper-mini">
  <div class="tab-section">
    <ul class="tabs-uininn"><li class="active-cls">BEST SELLER</li><li>NEW ARRIVALS</li></ul>
  </div>
  <div class="row class-tabs">
    <div class="arrows left-arrow">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/60552_copy.png?v=1582544220">
    </div>
   <div class="col-md-3 col-sm-3 col-xs-12">
  <div class="product">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/923_01_FS_Web.png?v=1582545112">
    <div class="thumbanils">
      <i class="fa fa-angle-left"></i>
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/923_01_FS_Web.png?v=1582545112">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/923_01_FS_Web.png?v=1582545112">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/923_01_FS_Web.png?v=1582545112">
      <i class="fa fa-angle-right"></i>
    </div>
    <span class="title-coll">Maritimer 935 Quartz 43mm Diver</span>
    <span class="title-price">$145.00</span>
    <span class="badges">New</span>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="product">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/906_04_FS_Web.png?v=1582545111">
    <div class="thumbanils"> <i class="fa fa-angle-left"></i>
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/906_04_FS_Web.png?v=1582545111">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/906_04_FS_Web.png?v=1582545111">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/906_04_FS_Web.png?v=1582545111"> <i class="fa fa-angle-right"></i>
    </div>
    <span class="title-coll">Maritimer 935 Quartz 43mm Diver</span>
    <span class="title-price">$145.00</span>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="product">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/897.04_soldier.png?v=1582545111">
    <div class="thumbanils"> <i class="fa fa-angle-left"></i>
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/897.04_soldier.png?v=1582545111">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/897.04_soldier.png?v=1582545111">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/897.04_soldier.png?v=1582545111"> <i class="fa fa-angle-right"></i>
    </div>
    <span class="title-coll">Maritimer 935 Quartz 43mm Diver</span>
    <span class="title-price">$145.00</span>
      <span class="badges">Swiss</span>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="product">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/1000_04_FS_Web.png?v=1582545110">
    <div class="thumbanils"> <i class="fa fa-angle-left"></i>
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/1000_04_FS_Web.png?v=1582545110">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/1000_04_FS_Web.png?v=1582545110">
       <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/1000_04_FS_Web.png?v=1582545110"> <i class="fa fa-angle-right"></i>
    </div>
    <span class="title-coll">Maritimer 935 Quartz 43mm Diver</span>
    <span class="title-price">$145.00</span>
  </div>
  </div>
     <div class="arrows right-arrow">
    <img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/60552.png?v=1582544220">
    </div>
</div>
  </div>
</div>
{%endcomment%}

<!--  Reviews-->




<!-- video -->






<!-- explore more -->






<!--  story board-->



<!-- ------------Instagram-------------- -->
 
   
 {%comment%}
  {% section '7ce7563a-cd23-4e62-b467-4d5bb14b600d' %} 
 {% section '580f11bc-2765-4a13-9c35-f295b98c8b62' %} 
{%endcomment%} 
 
