<div class="our-story-template">

  <div class="new-page-style story-page-template">
    <div class="rte">
      {% section 'our-story-template' %}
      {% section 'our-story-icons' %}
      {% section 'our-story-collection-features' %}
    </div>

  </div>

</div>
