<div class="gift_guide_page">      
 {% section 'gift-guide-template' %}
  <div class="container-fluid">
    <div class="rte">     
      {% section 'custom-content' %}
    </div>
  </div>
  </div>



