<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

     {% comment %}{% section 'two-row-banner-template'%}{% endcomment %}
    {% section 'landing-banners-template' %}

  </div>

</div>
